# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CPackConfig.cmake
cmake-build-debug/CPackSourceConfig.cmake
cmake-build-debug/Makefile
cmake-build-debug/nanomq-nng.cbp
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeError.log
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/CMakeRuleHashes.txt
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/TestEndianess.bin
cmake-build-debug/CMakeFiles/3.17.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.17.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.17.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/CheckTypeSize/CMAKE_SIZEOF_UNSIGNED_SHORT.bin
cmake-build-debug/CMakeFiles/CheckTypeSize/CMAKE_SIZEOF_UNSIGNED_SHORT.c
cmake-build-debug/nanolib/cmake_install.cmake
cmake-build-debug/nanolib/Makefile
cmake-build-debug/nanolib/nanolib.cbp
cmake-build-debug/nanolib/nanolibConfig.cmake
cmake-build-debug/nanolib/test
cmake-build-debug/nanolib/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nanolib/CMakeFiles/progress.marks
cmake-build-debug/nanolib/CMakeFiles/Export/share/nanolib/cmake/nanolibConfig-debug.cmake
cmake-build-debug/nanolib/CMakeFiles/Export/share/nanolib/cmake/nanolibConfig.cmake
cmake-build-debug/nanolib/CMakeFiles/nano_shared.dir/build.make
cmake-build-debug/nanolib/CMakeFiles/nano_shared.dir/cmake_clean.cmake
cmake-build-debug/nanolib/CMakeFiles/nano_shared.dir/depend.internal
cmake-build-debug/nanolib/CMakeFiles/nano_shared.dir/depend.make
cmake-build-debug/nanolib/CMakeFiles/nano_shared.dir/DependInfo.cmake
cmake-build-debug/nanolib/CMakeFiles/nano_shared.dir/flags.make
cmake-build-debug/nanolib/CMakeFiles/nano_shared.dir/link.txt
cmake-build-debug/nanolib/CMakeFiles/nano_shared.dir/progress.make
cmake-build-debug/nanolib/CMakeFiles/nanodist.dir/build.make
cmake-build-debug/nanolib/CMakeFiles/nanodist.dir/cmake_clean.cmake
cmake-build-debug/nanolib/CMakeFiles/nanodist.dir/DependInfo.cmake
cmake-build-debug/nanolib/CMakeFiles/nanodist.dir/progress.make
cmake-build-debug/nanolib/CMakeFiles/nanolib.dir/build.make
cmake-build-debug/nanolib/CMakeFiles/nanolib.dir/C.includecache
cmake-build-debug/nanolib/CMakeFiles/nanolib.dir/cmake_clean.cmake
cmake-build-debug/nanolib/CMakeFiles/nanolib.dir/CXX.includecache
cmake-build-debug/nanolib/CMakeFiles/nanolib.dir/depend.internal
cmake-build-debug/nanolib/CMakeFiles/nanolib.dir/depend.make
cmake-build-debug/nanolib/CMakeFiles/nanolib.dir/DependInfo.cmake
cmake-build-debug/nanolib/CMakeFiles/nanolib.dir/flags.make
cmake-build-debug/nanolib/CMakeFiles/nanolib.dir/nanolib.objlib
cmake-build-debug/nanolib/CMakeFiles/nanolib.dir/progress.make
cmake-build-debug/nanolib/CMakeFiles/test.dir/build.make
cmake-build-debug/nanolib/CMakeFiles/test.dir/C.includecache
cmake-build-debug/nanolib/CMakeFiles/test.dir/cmake_clean.cmake
cmake-build-debug/nanolib/CMakeFiles/test.dir/depend.internal
cmake-build-debug/nanolib/CMakeFiles/test.dir/depend.make
cmake-build-debug/nanolib/CMakeFiles/test.dir/DependInfo.cmake
cmake-build-debug/nanolib/CMakeFiles/test.dir/flags.make
cmake-build-debug/nanolib/CMakeFiles/test.dir/link.txt
cmake-build-debug/nanolib/CMakeFiles/test.dir/progress.make
cmake-build-debug/nanomq/cmake_install.cmake
cmake-build-debug/nanomq/Makefile
cmake-build-debug/nanomq/nanomq
cmake-build-debug/nanomq/nanomq.cbp
cmake-build-debug/nanomq/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nanomq/CMakeFiles/progress.marks
cmake-build-debug/nanomq/CMakeFiles/nanomq.dir/build.make
cmake-build-debug/nanomq/CMakeFiles/nanomq.dir/C.includecache
cmake-build-debug/nanomq/CMakeFiles/nanomq.dir/cmake_clean.cmake
cmake-build-debug/nanomq/CMakeFiles/nanomq.dir/depend.internal
cmake-build-debug/nanomq/CMakeFiles/nanomq.dir/depend.make
cmake-build-debug/nanomq/CMakeFiles/nanomq.dir/DependInfo.cmake
cmake-build-debug/nanomq/CMakeFiles/nanomq.dir/flags.make
cmake-build-debug/nanomq/CMakeFiles/nanomq.dir/link.txt
cmake-build-debug/nanomq/CMakeFiles/nanomq.dir/progress.make
cmake-build-debug/nanomq/apps/cmake_install.cmake
cmake-build-debug/nanomq/apps/Makefile
cmake-build-debug/nanomq/apps/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nanomq/apps/CMakeFiles/progress.marks
cmake-build-debug/nanomq/apps/CMakeFiles/apps.dir/build.make
cmake-build-debug/nanomq/apps/CMakeFiles/apps.dir/C.includecache
cmake-build-debug/nanomq/apps/CMakeFiles/apps.dir/cmake_clean_target.cmake
cmake-build-debug/nanomq/apps/CMakeFiles/apps.dir/cmake_clean.cmake
cmake-build-debug/nanomq/apps/CMakeFiles/apps.dir/depend.internal
cmake-build-debug/nanomq/apps/CMakeFiles/apps.dir/depend.make
cmake-build-debug/nanomq/apps/CMakeFiles/apps.dir/DependInfo.cmake
cmake-build-debug/nanomq/apps/CMakeFiles/apps.dir/flags.make
cmake-build-debug/nanomq/apps/CMakeFiles/apps.dir/link.txt
cmake-build-debug/nanomq/apps/CMakeFiles/apps.dir/progress.make
cmake-build-debug/nng/cmake_install.cmake
cmake-build-debug/nng/Makefile
cmake-build-debug/nng/nng.cbp
cmake-build-debug/nng/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nng/CMakeFiles/progress.marks
cmake-build-debug/nng/CMakeFiles/dist.dir/build.make
cmake-build-debug/nng/CMakeFiles/dist.dir/cmake_clean.cmake
cmake-build-debug/nng/CMakeFiles/dist.dir/DependInfo.cmake
cmake-build-debug/nng/CMakeFiles/dist.dir/progress.make
cmake-build-debug/nng/src/cmake_install.cmake
cmake-build-debug/nng/src/Makefile
cmake-build-debug/nng/src/nng-config-version.cmake
cmake-build-debug/nng/src/nng-config.cmake
cmake-build-debug/nng/src/nng-targets.cmake
cmake-build-debug/nng/src/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nng/src/CMakeFiles/progress.marks
cmake-build-debug/nng/src/CMakeFiles/Export/lib/cmake/nng/nng-targets-debug.cmake
cmake-build-debug/nng/src/CMakeFiles/Export/lib/cmake/nng/nng-targets.cmake
cmake-build-debug/nng/src/CMakeFiles/nng.dir/build.make
cmake-build-debug/nng/src/CMakeFiles/nng.dir/C.includecache
cmake-build-debug/nng/src/CMakeFiles/nng.dir/cmake_clean_target.cmake
cmake-build-debug/nng/src/CMakeFiles/nng.dir/cmake_clean.cmake
cmake-build-debug/nng/src/CMakeFiles/nng.dir/depend.internal
cmake-build-debug/nng/src/CMakeFiles/nng.dir/depend.make
cmake-build-debug/nng/src/CMakeFiles/nng.dir/DependInfo.cmake
cmake-build-debug/nng/src/CMakeFiles/nng.dir/flags.make
cmake-build-debug/nng/src/CMakeFiles/nng.dir/link.txt
cmake-build-debug/nng/src/CMakeFiles/nng.dir/progress.make
cmake-build-debug/nng/src/compat/nanomsg/cmake_install.cmake
cmake-build-debug/nng/src/compat/nanomsg/Makefile
cmake-build-debug/nng/src/compat/nanomsg/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nng/src/compat/nanomsg/CMakeFiles/progress.marks
cmake-build-debug/nng/src/protocol/bus0/cmake_install.cmake
cmake-build-debug/nng/src/protocol/bus0/Makefile
cmake-build-debug/nng/src/protocol/bus0/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nng/src/protocol/bus0/CMakeFiles/progress.marks
cmake-build-debug/nng/src/protocol/mqtt/cmake_install.cmake
cmake-build-debug/nng/src/protocol/mqtt/Makefile
cmake-build-debug/nng/src/protocol/mqtt/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nng/src/protocol/mqtt/CMakeFiles/progress.marks
cmake-build-debug/nng/src/protocol/pair0/cmake_install.cmake
cmake-build-debug/nng/src/protocol/pair0/Makefile
cmake-build-debug/nng/src/protocol/pair0/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nng/src/protocol/pair0/CMakeFiles/progress.marks
cmake-build-debug/nng/src/protocol/pair1/cmake_install.cmake
cmake-build-debug/nng/src/protocol/pair1/Makefile
cmake-build-debug/nng/src/protocol/pair1/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nng/src/protocol/pair1/CMakeFiles/progress.marks
cmake-build-debug/nng/src/protocol/pipeline0/cmake_install.cmake
cmake-build-debug/nng/src/protocol/pipeline0/Makefile
cmake-build-debug/nng/src/protocol/pipeline0/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nng/src/protocol/pipeline0/CMakeFiles/progress.marks
cmake-build-debug/nng/src/protocol/pubsub0/cmake_install.cmake
cmake-build-debug/nng/src/protocol/pubsub0/Makefile
cmake-build-debug/nng/src/protocol/pubsub0/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nng/src/protocol/pubsub0/CMakeFiles/progress.marks
cmake-build-debug/nng/src/protocol/reqrep0/cmake_install.cmake
cmake-build-debug/nng/src/protocol/reqrep0/Makefile
cmake-build-debug/nng/src/protocol/reqrep0/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nng/src/protocol/reqrep0/CMakeFiles/progress.marks
cmake-build-debug/nng/src/protocol/survey0/cmake_install.cmake
cmake-build-debug/nng/src/protocol/survey0/Makefile
cmake-build-debug/nng/src/protocol/survey0/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nng/src/protocol/survey0/CMakeFiles/progress.marks
cmake-build-debug/nng/src/supplemental/base64/cmake_install.cmake
cmake-build-debug/nng/src/supplemental/base64/Makefile
cmake-build-debug/nng/src/supplemental/base64/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nng/src/supplemental/base64/CMakeFiles/progress.marks
cmake-build-debug/nng/src/supplemental/http/cmake_install.cmake
cmake-build-debug/nng/src/supplemental/http/Makefile
cmake-build-debug/nng/src/supplemental/http/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nng/src/supplemental/http/CMakeFiles/progress.marks
cmake-build-debug/nng/src/supplemental/sha1/cmake_install.cmake
cmake-build-debug/nng/src/supplemental/sha1/Makefile
cmake-build-debug/nng/src/supplemental/sha1/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nng/src/supplemental/sha1/CMakeFiles/progress.marks
cmake-build-debug/nng/src/supplemental/tcp/cmake_install.cmake
cmake-build-debug/nng/src/supplemental/tcp/Makefile
cmake-build-debug/nng/src/supplemental/tcp/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nng/src/supplemental/tcp/CMakeFiles/progress.marks
cmake-build-debug/nng/src/supplemental/tls/cmake_install.cmake
cmake-build-debug/nng/src/supplemental/tls/Makefile
cmake-build-debug/nng/src/supplemental/tls/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nng/src/supplemental/tls/CMakeFiles/progress.marks
cmake-build-debug/nng/src/supplemental/tls/mbedtls/cmake_install.cmake
cmake-build-debug/nng/src/supplemental/tls/mbedtls/Makefile
cmake-build-debug/nng/src/supplemental/tls/mbedtls/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nng/src/supplemental/tls/mbedtls/CMakeFiles/progress.marks
cmake-build-debug/nng/src/supplemental/tls/wolfssl/cmake_install.cmake
cmake-build-debug/nng/src/supplemental/tls/wolfssl/Makefile
cmake-build-debug/nng/src/supplemental/tls/wolfssl/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nng/src/supplemental/tls/wolfssl/CMakeFiles/progress.marks
cmake-build-debug/nng/src/supplemental/util/cmake_install.cmake
cmake-build-debug/nng/src/supplemental/util/Makefile
cmake-build-debug/nng/src/supplemental/util/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nng/src/supplemental/util/CMakeFiles/progress.marks
cmake-build-debug/nng/src/supplemental/websocket/cmake_install.cmake
cmake-build-debug/nng/src/supplemental/websocket/Makefile
cmake-build-debug/nng/src/supplemental/websocket/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nng/src/supplemental/websocket/CMakeFiles/progress.marks
cmake-build-debug/nng/src/transport/inproc/cmake_install.cmake
cmake-build-debug/nng/src/transport/inproc/Makefile
cmake-build-debug/nng/src/transport/inproc/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nng/src/transport/inproc/CMakeFiles/progress.marks
cmake-build-debug/nng/src/transport/ipc/cmake_install.cmake
cmake-build-debug/nng/src/transport/ipc/Makefile
cmake-build-debug/nng/src/transport/ipc/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nng/src/transport/ipc/CMakeFiles/progress.marks
cmake-build-debug/nng/src/transport/tcp/cmake_install.cmake
cmake-build-debug/nng/src/transport/tcp/Makefile
cmake-build-debug/nng/src/transport/tcp/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nng/src/transport/tcp/CMakeFiles/progress.marks
cmake-build-debug/nng/src/transport/tls/cmake_install.cmake
cmake-build-debug/nng/src/transport/tls/Makefile
cmake-build-debug/nng/src/transport/tls/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nng/src/transport/tls/CMakeFiles/progress.marks
cmake-build-debug/nng/src/transport/ws/cmake_install.cmake
cmake-build-debug/nng/src/transport/ws/Makefile
cmake-build-debug/nng/src/transport/ws/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nng/src/transport/ws/CMakeFiles/progress.marks
cmake-build-debug/nng/src/transport/zerotier/cmake_install.cmake
cmake-build-debug/nng/src/transport/zerotier/Makefile
cmake-build-debug/nng/src/transport/zerotier/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/nng/src/transport/zerotier/CMakeFiles/progress.marks
.idea/.gitignore
.idea/.name
.idea/misc.xml
.idea/modules.xml
.idea/nanomq.iml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.vscode/settings.json
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/CPackConfig.cmake
build/CPackSourceConfig.cmake
build/install_manifest.txt
build/rules.ninja
build/.cmake/api/v1/query/client-integration-vscode/cache-v2
build/.cmake/api/v1/query/client-integration-vscode/cmakeFiles-v1
build/.cmake/api/v1/query/client-integration-vscode/codemodel-v2
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-f0f3b2e4f4d9705bbbb8.json
build/.cmake/api/v1/reply/cmakeFiles-v1-220f68747163628cae67.json
build/.cmake/api/v1/reply/codemodel-v2-fcc7ff0f92bc0f1a1226.json
build/.cmake/api/v1/reply/index-2020-12-17T07-07-35-0985.json
build/.cmake/api/v1/reply/target-apps-Release-d1999037d63977e99b04.json
build/.cmake/api/v1/reply/target-dist-Release-ec940fb859066b622a89.json
build/.cmake/api/v1/reply/target-nano_shared-Release-3855a8b63ac1439ced37.json
build/.cmake/api/v1/reply/target-nanodist-Release-31dae36d83f1c7df0cdc.json
build/.cmake/api/v1/reply/target-nanolib-Release-7236ed0d42f136968d87.json
build/.cmake/api/v1/reply/target-nanomq-Release-4b0bdd2c45ee2ad27cd8.json
build/.cmake/api/v1/reply/target-nng-Release-3039074a5a50e459db21.json
build/.cmake/api/v1/reply/target-test-Release-606585acd62eed2df256.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeError.log
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/TestEndianess.bin
build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.3/CMakeSystem.cmake
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/CheckTypeSize/CMAKE_SIZEOF_UNSIGNED_SHORT.bin
build/CMakeFiles/CheckTypeSize/CMAKE_SIZEOF_UNSIGNED_SHORT.c
build/nanolib/cmake_install.cmake
build/nanolib/nanolibConfig.cmake
build/nanolib/test
build/nanolib/CMakeFiles/Export/share/nanolib/cmake/nanolibConfig-debug.cmake
build/nanolib/CMakeFiles/Export/share/nanolib/cmake/nanolibConfig-release.cmake
build/nanolib/CMakeFiles/Export/share/nanolib/cmake/nanolibConfig.cmake
build/nanomq/cmake_install.cmake
build/nanomq/nanomq
build/nanomq/apps/cmake_install.cmake
build/nng/cmake_install.cmake
build/nng/src/cmake_install.cmake
build/nng/src/nng-config-version.cmake
build/nng/src/nng-config.cmake
build/nng/src/nng-targets.cmake
build/nng/src/CMakeFiles/Export/lib/cmake/nng/nng-targets-debug.cmake
build/nng/src/CMakeFiles/Export/lib/cmake/nng/nng-targets-release.cmake
build/nng/src/CMakeFiles/Export/lib/cmake/nng/nng-targets.cmake
build/nng/src/compat/nanomsg/cmake_install.cmake
build/nng/src/protocol/bus0/cmake_install.cmake
build/nng/src/protocol/mqtt/cmake_install.cmake
build/nng/src/protocol/pair0/cmake_install.cmake
build/nng/src/protocol/pair1/cmake_install.cmake
build/nng/src/protocol/pipeline0/cmake_install.cmake
build/nng/src/protocol/pubsub0/cmake_install.cmake
build/nng/src/protocol/reqrep0/cmake_install.cmake
build/nng/src/protocol/survey0/cmake_install.cmake
build/nng/src/supplemental/base64/cmake_install.cmake
build/nng/src/supplemental/http/cmake_install.cmake
build/nng/src/supplemental/sha1/cmake_install.cmake
build/nng/src/supplemental/tcp/cmake_install.cmake
build/nng/src/supplemental/tls/cmake_install.cmake
build/nng/src/supplemental/tls/mbedtls/cmake_install.cmake
build/nng/src/supplemental/tls/wolfssl/cmake_install.cmake
build/nng/src/supplemental/util/cmake_install.cmake
build/nng/src/supplemental/websocket/cmake_install.cmake
build/nng/src/transport/inproc/cmake_install.cmake
build/nng/src/transport/ipc/cmake_install.cmake
build/nng/src/transport/tcp/cmake_install.cmake
build/nng/src/transport/tls/cmake_install.cmake
build/nng/src/transport/ws/cmake_install.cmake
build/nng/src/transport/zerotier/cmake_install.cmake
